@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --textcolor: #313131;
    --ybgcolor: #ffcf84;
    --bbgcolor: #559bfa;
}

body {
    background: url('/websys/assets/images/background.svg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.login {
    background-color: #ffff;
    max-width: 400px;
    width: 100%;
    margin: 120px auto;
    padding: 30px 35px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
}

.login .top-content {
    text-align: center;
}
.login .top-content img {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 150px;
}

.login .top-content p {
    font-size: 14px;
    font-weight: 300;
    color: #000000af;
}

.login .top-content h1 {
    font-weight: 700;
    color: var(--bbgcolor);
    text-transform: uppercase;
    margin: 10px;
    letter-spacing: 0.4px;
}

.login input {
    border: none;
    background: transparent;
    outline: none;
    border: 1px solid var(--bbgcolor);
    width: 100%;
    padding: 11px 15px;
    border-radius: 30px;
    transition: 0.2s ease;
}



.login form p {
    color: var(--textcolor);
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 14px;
}

.login form .password {
    margin-top: 10px;
}

.login .login-btn {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

.login .login-btn input {
    background-color: var(--bbgcolor);
    color: #fff;
    width: 60%;
    cursor: pointer;
}
.login .login-btn input:hover {
    background-color: #386bb3;
    outline: none;
    border-color: #386bb3;
}

.register {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    font-weight: 300;
}

.register a {
    text-decoration: none;
    color: var(--bbgcolor);
}

.password-container {
    position: relative;
}

.login input[type=password] {
    padding-right: 50px; 
}

.toggle-icon {
    position: absolute;
    top: 25px;
    right: 17px;
    transform: translateY(-50%);
    cursor: pointer;
}

.img-pw {
    width: 20px; 
}
